@import './assets/css/colors.css';
@import './assets/css/texts.css';
@import './assets/css/transitions.css';
@import './assets/css/utils.css';

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-medium);
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: white;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
  color: var(--tertiary);
  transition: var(--transition-normal);
}
a:hover {
  color: var(--tertiary-lightened);
}